<h1> New Broadcast </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:message, :url => broadcast_path) do |f| %>
	  <div class ="form-group">
	    <%= f.label :body, "Message" %>
	    <%= f.text_area :body, class: 'form-control' %>
	  </div>

	  <%= f.hidden_field :sender_id, :value => current_user.id %>

	  <%= f.submit "Send", class: "btn btn-primary" %>
	  <%= link_to "Back to Messages", messages_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>