<h1> New Message </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@message) do |f| %>
	  <div class ="form-group">
	    <%= f.label :body, "Message" %>
	    <%= f.text_area :body, class: 'form-control' %>
	  </div>

	  <%= f.hidden_field :sender_id, :value => current_user.id %>

	  <div class ="form-group">
	    <%= f.label :recipient_id, "Recipient" %>
	    <%= f.collection_select :recipient_id, @recipients, :id, :name, {}, {class: 'form-control'}%>
	  </div>

	  <%= f.submit "Send", class: "btn btn-primary" %>
	  <%= link_to "Back to Messages", messages_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


