<h1> Hello <%= @user.name %></h1>
<p> Email: <%= @user.email %></p>
<p> Client-Type: <%= (@user.client == 1) ? 'User' : 'Trainer' %></p>
<%= link_to "Back to Home",	root_path, class: "btn btn-primary" %>
<%= link_to "Logout", logout_path, method: :delete, class: "btn btn-primary" %>
